@import url('normalize.css');

body {
	background-color: #9c53b4;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.center-page {
	width: 960px;
	margin: 0 auto;
}

.head-page {
	height: 230px;
	padding: 80px 0 0 50px;
	background: url(../images/anciano.png) no-repeat 600px 0;
	color: #fff;
}

	.head-page h1 {
		font-size: 36px;
		line-height: 1em;
		margin: 0;
	}

	.head-page h2 {
		font-size: 18px;
		line-height: 1em;
		margin: 0;
		font-weight: normal;
	}

.nav-page {
	height: 65px;
	background: url(../images/bg-nav.png) no-repeat
}

	.nav-page a,
	.nav-page span {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		text-decoration: none;
	}

	.nav-page span {
		font-size: 36px;
		width: 212px;
		padding: 10px 0 8px;
		text-align: center;
	}

	.nav-page a {
		text-align: center;
		margin: 12px 30px 0;
	}

.text-page {
	margin: 18px 0 20px;
	font-size: 12px;
	color: #191919;
}

	.text-page section {
		background-color: #c294d1;
		width: 431px;
		min-height: 482px;
		border-radius: 10px;
		padding: 22px 18px;
		box-shadow: 0 0 8px rgba(0,0,0,.3);
	}

	.text-page section.left {
		float: left;
	}

	.text-page section.right {
		float: right;
	}

	.text-page h1 {
		font-size: 24px;
		color: #fff;
		margin: 0 0 10px;
	}

	.text-page figure {
		margin-left: -18px;
	}

.nav-numbers {
	text-align: center;
	margin-bottom: 50px;
}

	.nav-numbers a {
		display: inline-block;
		width: 38px;
		font-size: 18px;
		line-height: 1em;
		color: #fff;
		background-color: #35aad9;
		border-radius: 100%;
		padding: 11px 0 10px;
		text-align: center;
	}